@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    background-color: #1b0f0a;
    padding: 30px 10px 30px;
    align-items: center;
}
.footer_about_us{
    font-size: 15px;
    margin-right: 100px;
}
.footer_contacts{
    margin-left: 100px;
}
.footer_contacts h3{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a:hover{
    text-decoration: none;
    color: #fad311;
}
footer a:active{
    text-decoration: none;
    color: whitesmoke;
}
#wrap{
    flex: 1;
}