@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
}
html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #261818;
    background: linear-gradient(180deg, rgba(38, 24, 24, 1) 45%, rgba(0, 0, 0, 1) 100%) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: #ffffff;
}
header a:hover{
    text-decoration: none;
    color: #fad311;
}
header a:active{
    text-decoration: none;
    color: whitesmoke;
}
header {
    position: sticky;
    top: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
    font-size: 20px;
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal ;
    font-optical-sizing: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
    align-content: center;
    background-color: #1b0f0a;
    z-index: 100;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    margin: auto auto 0;
}
.navbar_header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: auto auto 0;
}
.navbar_header img{
    height: auto;
    width: auto;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo a {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navbar_header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap : 50px;
}